:root {
--lightBlue: #5bc2e7;
--mediumBlue: #1a9ac8;
--darkBlue: #237694;
--lightPink: #ffafdf;
--mediumPink: #ff8bd1;
--darkPink: #eb8ec5;
--lightRed: #ea555e;
--darkRed: #e03354;
--darkGreen: #519137;
--lightGreen: #6cc249;
--lightYellow: #fff260;
--darkYellow: #eff1a7;
}

@font-face{
	font-family: Peppa;
	src: url("style/Peppa.ttf");
}

body {
/*	font-family: "Lato", sans-serif*/
	font-family: "Georgia";
}

h1, h2, h3, h4, h5, h6, button, a, .peppaFont{
	font-family: "Peppa";
}

.mySlides {
	display: none
}

.w3-top, .w3-dropdown-content{
	background-color: #1a9ac8!important;
	color: #ffafdf!important;
	box-shadow: none;
	font-size: 20px;
}

.w3-button:hover, .w3-button:enabled{
	color:#237694!important;
	background-color:#ff8bd1!important;
}

#contact{
	width: 100vw;
	background-color: #52bdeb;
	padding: 0 20vw;
	color: white;
}

#contactImg{
	position: relative;
	bottom: 120px;
}
